body {
  background: #202020;
}

table {
  width: 800px;
  background: white;
  color: #969696;
  border: none;
  margin: 0 auto;

}

th {
  background: #ea6153;
  color: #ffff;
  height: 35px;
  text-align: left;
  padding: 12px;
}

tr {
  background: white;
}

td {
  padding: 4px 12px;
}

.status {
  width: 12px;
}

#online {
  background-color: rgb(21, 206, 67);
  margin: 0 auto;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  display: flex;
}

#offline {
  background-color: red;
  margin: 0 auto;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  display: flex;
}